Repository moja-global/FLINT.Cloud, pull requests merged in 2022-08, with the labels that each got.

#165 Update GCBM reference config for linux
  local/rest_api_gcbm/tests/linux-demo.zip
Labels: GCBM

#171 ci: fix the cml simulation action
  .github/workflows/cml-report.yml
  local/rest_api_gcbm/Dockerfile
Labels: simulation

#169 chore: move preprocessing from `/gcbm/upload` to `/gcbm/dynamic` endpoint
  local/rest_api_gcbm/app.py
Labels: run-simulation
